<!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">v-S.M.A.R.T 1.0 (Light) <span class="hidden-xs"> - Hệ thống giám sát, phân tích tin tức và mạng xã hội</span> © 2018-2020</span>
        </div>
        
    </div>
</div>
<!-- END PAGE FOOTER -->
