<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8 hidden-phone hidden-xs hidden-md hidden-sm">
        <ul id="sparks" class="">
            <li class="sparks-info">
                <h5> Tổng số bài viết <span class="txt-color-blue">47,171</span></h5>
                <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                    1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                </div>
            </li>
            <li class="sparks-info">
                <h5> Số lượng nguồn tin <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;45%</span></h5>
                <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                    110,150,300,130,400,240,220,310,220,300, 270, 210
                </div>
            </li>
            <li class="sparks-info">
                <h5> Số chủ đề <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
                <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                    110,150,300,130,400,240,220,310,220,300, 270, 210
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">
        <article class="col-sm-12">
            <!-- new widget -->
            <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon">
                        <i class="glyphicon glyphicon-stats txt-color-darken"></i>
                    </span>
                    <h2>Thống kê </h2>

                    

                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">

                        test
                    </div>
                    <!-- end widget edit box -->

                    <div class="widget-body-toolbar bg-color-white smart-form" id="rev-toggles">
                        

                        <div class="inline-group">

                            <label style="padding-left: 24px;" for="gra-0" class="checkbox hidden-phone hidden-xs">
                                <input type="checkbox" name="gra-0" id="gra-0" checked="checked">
                                <i></i> Báo mạng
                            </label>
                            <label style="padding-left: 24px;" for="gra-1" class="checkbox hidden-phone hidden-xs">
                                <input type="checkbox" name="gra-1" id="gra-1" checked="checked">
                                <i></i> Diễn đàn
                            </label>
                            <label style="padding-left: 24px;" for="gra-2" class="checkbox hidden-phone hidden-xs">
                                <input type="checkbox" name="gra-2" id="gra-2" checked="checked">
                                <i></i> Mạng xã hội
                            </label>
                            <label>
                                <i></i> Thời gian
                                <select id="priority" style="height: 24px!important">
                                    <option value="Week">1 tuần qua</option>
                                    <option value="Month">1 tháng qua</option>

                                </select>
                            </label>
                            <label>
                                <i></i> Chủ đề
                                <select id="priority" style="height: 24px!important">
                                    <option value="Week">Cơn bão số 3</option>
                                    <option value="Month">Thi PTTH</option>

                                </select>
                            </label>
                        </div>

                       



                    </div>

                    <div class="padding-10 col-sm-12 wel">
                        <div class="col-sm-12">
                            <table class="hidden highchart table table-hover table-bordered" data-graph-container=".. .. .highchart-container2" data-graph-type="column">
                                <caption>Thống kê bài viết theo chủ đề</caption>
                                <thead>
                                    <tr>
                                        <th>Month</th>
                                        <th class="">Báo mạng</th>
                                        <th class="">Diễn đàn</th>
                                        <th class="">Twitter</th>
                                        <th class="">Facebook</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01/2018</td>
                                        <td class="">8000</td>
                                        <td class="">2000</td>
                                        <td class="">1000</td>
                                        <td class="">9000</td>
                                    </tr>
                                    <tr>
                                        <td>02/2018</td>
                                        <td class="">12000</td>
                                        <td class="">3000</td>
                                        <td class="">1300</td>
                                        <td class="">10000</td>
                                    </tr>
                                    <tr>
                                        <td>03/2018</td>
                                        <td class="">18000</td>
                                        <td class="">4000</td>
                                        <td class="">1240</td>
                                        <td class="">11000</td>
                                    </tr>
                                    <tr>
                                        <td>04/2018</td>
                                        <td class="">2000</td>
                                        <td class="">1000</td>
                                        <td class="">150</td>
                                        <td class="">13000</td>
                                    </tr>
                                    <tr>
                                        <td>05/2018</td>
                                        <td class="">500</td>
                                        <td class="">2500</td>
                                        <td class="">1000</td>
                                        <td class="">14000</td>
                                    </tr>
                                    <tr>
                                        <td>06/2018</td>
                                        <td class="">600</td>
                                        <td class="">500</td>
                                        <td class="">500</td>
                                        <td class="">15000</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="highchart-container2"></div>
                        </div>
                       
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>
    </div>

    <!-- end row -->
    <!-- row -->

    <div class="row">

        <article class="col-sm-12 col-md-12 col-lg-6">

            <!-- new widget -->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false">

                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->

                <header>
                    <span class="widget-icon">
                        <i class="fa fa-comments txt-color-white"></i>
                    </span>
                    <h2> Bài viết mới nhất </h2>
                    <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        
                    </div>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <div>
                            <label>Title:</label>
                            <input type="text" />
                        </div>
                    </div>
                    <!-- end widget edit box -->

                    <div class="widget-body widget-hide-overflow no-padding">
                        <!-- content goes here -->
                       

                        <!-- end content -->
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
            <!-- new widget -->
            
            <!-- end widget -->

        </article>

        <article class="col-sm-12 col-md-12 col-lg-6">

            
            <!-- new widget -->
            <div class="jarviswidget jarviswidget-color-blue" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false">

                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->

                <header>
                    <span class="widget-icon">
                        <i class="fa fa-check txt-color-white"></i>
                    </span>
                    <h2> Tác vụ xử lý </h2>
                    <!-- <div class="widget-toolbar">
                        add: non-hidden - to disable auto hide

                    </div>-->
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <div>
                            <label>Title:</label>
                            <input type="text" />
                        </div>
                    </div>
                    <!-- end widget edit box -->

                    <div class="widget-body no-padding smart-form">
                        <!-- content goes here -->
                        <h5 class="todo-group-title"><i class="fa fa-warning"></i> Critical Tasks (<small class="num-of-tasks">1</small>)</h5>
                        <ul id="sortable1" class="todo">
                            <li>
                                <span class="handle">
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline">
                                        <i></i>
                                    </label>
                                </span>
                                <p>
                                    <strong>Ticket #17643</strong> - Hotfix for WebApp interface issue [<a href="javascript:void(0);" class="font-xs">More Details</a>] <span class="text-muted">Sea deep blessed bearing under darkness from God air living isn't. </span>
                                    <span class="date">Jan 1, 2014</span>
                                </p>
                            </li>
                        </ul>
                        <h5 class="todo-group-title"><i class="fa fa-exclamation"></i> Important Tasks (<small class="num-of-tasks">3</small>)</h5>
                        <ul id="sortable2" class="todo">
                            <li>
                                <span class="handle">
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline">
                                        <i></i>
                                    </label>
                                </span>
                                <p>
                                    <strong>Ticket #1347</strong> - Inbox email is being sent twice <small>(bug fix)</small> [<a href="javascript:void(0);" class="font-xs">More Details</a>] <span class="date">Nov 22, 2013</span>
                                </p>
                            </li>
                            <li>
                                <span class="handle">
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline">
                                        <i></i>
                                    </label>
                                </span>
                                <p>
                                    <strong>Ticket #1314</strong> - Call customer support re: Issue <a href="javascript:void(0);" class="font-xs">#6134</a><small>(code review)</small>
                                    <span class="date">Nov 22, 2013</span>
                                </p>
                            </li>
                            <li>
                                <span class="handle">
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline">
                                        <i></i>
                                    </label>
                                </span>
                                <p>
                                    <strong>Ticket #17643</strong> - Hotfix for WebApp interface issue [<a href="javascript:void(0);" class="font-xs">More Details</a>] <span class="text-muted">Sea deep blessed bearing under darkness from God air living isn't. </span>
                                    <span class="date">Jan 1, 2014</span>
                                </p>
                            </li>
                        </ul>

                        <h5 class="todo-group-title"><i class="fa fa-check"></i> Completed Tasks (<small class="num-of-tasks">1</small>)</h5>
                        <ul id="sortable3" class="todo">
                            <li class="complete">
                                <span class="handle" style="display: none">
                                    <label class="checkbox state-disabled">
                                        <input type="checkbox" name="checkbox-inline" checked="checked" disabled="disabled">
                                        <i></i>
                                    </label>
                                </span>
                                <p>
                                    <strong>Ticket #17643</strong> - Hotfix for WebApp interface issue [<a href="javascript:void(0);" class="font-xs">More Details</a>] <span class="text-muted">Sea deep blessed bearing under darkness from God air living isn't. </span>
                                    <span class="date">Jan 1, 2014</span>
                                </p>
                            </li>
                        </ul>

                        <!-- end content -->
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->
@section Scripts {
<script type="text/javascript">

    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
 *
 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
 *
 * // activate tooltips
 * $("[rel=tooltip]").tooltip();
 *
 * // activate popovers
 * $("[rel=popover]").popover();
 *
 * // activate popovers with hover states
 * $("[rel=popover-hover]").popover({ trigger: "hover" });
 *
 * // activate inline charts
 * runAllCharts();
 *
 * // setup widgets
 * setup_widgets_desktop();
 *
 * // run form elements
 * runAllForms();
 *
 ********************************
 *
 * pageSetUp() is needed whenever you load a page.
 * It initializes and checks for all basic elements of the page
 * and makes rendering easier.
 *
 */

    pageSetUp();

    /*
     * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
     * eg alert("my home function");
     *
     * var pagefunction = function() {
     *   ...
     * }
     * loadScript("/js/plugin/_PLUGIN_NAME_.js", pagefunction);
     *
     * TO LOAD A SCRIPT:
     * var pagefunction = function (){
     *  loadScript(".../plugin.js", run_after_loaded);
     * }
     *
     * OR you can load chain scripts by doing
     *
     * loadScript(".../plugin.js", function(){
     * 	 loadScript("../plugin.js", function(){
     * 	   ...
     *   })
     * });
     */

    // pagefunction

    var pagefunction = function () {
        // clears the variable if left blank
        $('table.highchart').highchartTable();
        //console.log("execute highchart")
    };


    // end pagefunction

    // destroy generated instances
    // pagedestroy is called automatically before loading a new page
    // only usable in AJAX version!

    var pagedestroy = function () {

        /*
        Example below:

        $("#calednar").fullCalendar( 'destroy' );
        if (debugState){
            root.console.log("✔ Calendar destroyed");
        }

        For common instances, such as Jarviswidgets, Google maps, and Datatables, are automatically destroyed through the app.js loadURL mechanic

        */
    };

    // end destroy

    // run pagefunction

    loadScript("/js/plugin/highChartCore/highcharts-custom.min.js",
        function () {
            loadScript("/js/plugin/highchartTable/jquery.highchartTable.min.js", pagefunction);
        });

</script>
}
