@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal-header alert alert-block alert-info">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
    </button>
    <h6 class="modal-title alert-heading"><i class="fa fa-file-pdf-o"></i> So sánh bản lưu </h6>

</div>
<div class="modal-body no-padding smart-form picadiff">
    
    <fieldset style="padding-top:0px;">
        <div class="row picadiff-content">
            
            <section class="col col-lg-6">
                <label class="select">
                    <select id="version-src" style="line-height: 20px!important">
                        <option value="1">Phiên bản 1</option>
                        <option value="2">Phiên bản 2</option>
                        <option value="3">Phiên bản 3</option>
                    </select> <i></i>
                </label>
                <label class="label"></label>
                <div class="left text-justify">
                    Công an TP. Hải Phòng, di dời tuyến đường sắt nội đô, ga thượng lý, cam lộ, ga hải phòng chiều dài hơn 19,3km
                    Theo khảo sát, hiện nay hệ thống đường sắt đi qua địa bàn 4 quận Hồng Bàng, Lê Chân, Ngô Quyền và huyện An Dương, toàn thành phố có 91 điểm giao cắt đường bộ với đường sắt. Ngoài ra, Hải Phòng còn có thêm các đường nhánh dài từ ga Vật Cách vào cảng Vật Cách đi qua xã Nam Sơn (huyện An Dương) và phường Quán Toan (quận Hồng Bàng); từ ga Thượng Lý vào kho II của Công ty xăng dầu khu vực III đi qua phường Sở Dầu (quận Hồng Bàng); từ ga Hải Phòng vào cảng Chùa Vẽ đi qua các phường thuộc địa bàn quận Ngô Quyền, Hải An… Tuy nhiên, hiện nay trên tuyến đường sắt qua địa bàn Hải Phòng vẫn còn nhiều đường ngang dân sinh tự mở, tình trạng nhà dân xây dựng sát đường sắt, các hộ dân sinh sống, kinh doanh buôn bán nhỏ dọc tuyến để nguyên vật liệu lấn chiếm hành lang an toàn giao thông đường sắt làm ảnh hưởng đến an toàn chạy tàu và tầm nhìn của lái tàu, đồng thời gây khó khăn cho công tác bảo đảm trật tự an toàn giao thông đường sắt, tiềm ẩn nhiều nguy cơ tai nạn. Mặt khác, tình hình an ninh trật tự tại các địa bàn có tuyến đường sắt chạy qua luôn tiềm ẩn sự phức tạp, nhất là hoạt động của tội phạm ma túy và tệ nạn xã hội. Trước những khó khăn, bất cập của công tác đảm bảo trật tự an toàn giao thông nói riêng và tình hình an ninh, trật tự nói chung tại một số địa bàn có tuyến đường sắt đi qua, Công an TP Hải Phòng đã có đề xuất với Thành ủy, HĐND, UBND TP Hải Phòng về chủ trương di dời tuyến đường sắt nội đô ra khỏi khu vực trung tâm thành phố. Theo đó, đề xuất thành phố phối hợp với Bộ Giao thông vận tải báo cáo trình Chính phủ sớm có lộ trình, đề án di chuyển tuyến đường sắt hàng hóa ra khỏi khu trung tâm thành phố, không đi vào khu vực nội thành nhằm góp phần bảo đảm an toàn giao thông, chỉnh trang đô thị và giải quyết tệ nạn xã hội. Bên cạnh đó, quy hoạch xây dựng ga tàu vận chuyển hành khách tại khu vực Thượng Lý (Sở Dầu) hoặc Cam Lộ (Hùng Vương) để vận chuyển hành khách, giảm các tuyến vận tải hành khách vào khu vực Ga Hải Phòng tránh giờ cao điểm.
                </div>
            </section>
            <section class="col col-lg-6">
                <label class="select">
                    <select id="version-dest" style="line-height: 20px!important">
                        <option value="1">Phiên bản 1</option>
                        <option value="2">Phiên bản 2</option>
                        <option value="3">Phiên bản 3</option>
                    </select> <i></i>
                </label>
                <label class="label"></label>
                <div class="right text-justify">
                    Công an TP. Quảng Ninh, di dời tuyến đường sắt nội đô

                    Theo khảo sát, hiện nay hệ thống đường sắt Quốc gia chạy trên địa bàn TP Hải Phòng có chiều dài hơn 19,3km, Quốc gia chạy trên địa bàn TP Hải Phòng có chiều dài hơn 19,3km, đi qua địa bàn 4 quận Hồng Bàng, Lê Chân, Ngô Quyền và huyện An Dương, toàn thành phố có 91 điểm giao cắt đường bộ với đường sắt. Ngoài ra, Hải Phòng còn có thêm các đường nhánh dài từ ga Vật Cách vào cảng Vật Cách đi qua xã Nam Sơn (huyện An Dương) và phường Quán Toan (quận Hồng Bàng); từ ga Thượng Lý vào kho II của Công ty xăng dầu khu vực III đi qua phường Sở Dầu (quận Hồng Bàng); từ ga Hải Phòng vào cảng Chùa Vẽ đi qua các phường thuộc địa bàn quận Ngô Quyền, Hải An… Tuy nhiên, hiện nay trên tuyến đường sắt qua địa bàn Hải Phòng vẫn còn nhiều đường ngang dân sinh tự mở, tình trạng nhà dân xây dựng sát đường sắt, các hộ dân sinh sống, kinh doanh buôn bán nhỏ dọc tuyến để nguyên vật liệu lấn chiếm hành lang an toàn giao thông đường sắt làm ảnh hưởng đến an toàn chạy tàu và tầm nhìn của lái tàu, đồng thời gây khó khăn cho công tác bảo đảm trật tự an toàn giao thông đường sắt, tiềm ẩn nhiều nguy cơ tai nạn. Mặt khác, tình hình an ninh trật tự tại các địa bàn có tuyến đường sắt chạy qua luôn tiềm ẩn sự phức tạp, nhất là hoạt động của tội phạm ma túy và tệ nạn xã hội. Trước những khó khăn, bất cập của công tác đảm bảo trật tự an toàn giao thông nói riêng và tình hình an ninh, trật tự nói chung tại một số địa bàn có tuyến đường sắt đi qua, Công an TP Hải Phòng đã có đề xuất với Thành ủy, HĐND, UBND TP Hải Phòng về chủ trương di dời tuyến đường sắt nội đô ra khỏi khu vực trung tâm thành phố. Theo đó, đề xuất thành phố phối hợp với Bộ Giao thông vận tải báo cáo trình Chính phủ sớm có lộ trình, đề án di chuyển tuyến đường sắt hàng hóa ra khỏi khu trung tâm thành phố, không đi vào khu vực nội thành nhằm góp phần bảo đảm an toàn giao thông, chỉnh trang đô thị và giải quyết tệ nạn xã hội. Bên cạnh đó, quy hoạch xây dựng ga tàu vận chuyển hành khách tại khu vực Thượng Lý (Sở Dầu) hoặc Cam Lộ (Hùng Vương) để vận chuyển hành khách, giảm các tuyến vận tải hành khách vào khu vực Ga Hải Phòng tránh giờ cao điểm.
                </div>
            </section>
        </div>
    </fieldset>
</div>
<div class="modal-footer" style="padding: 20px;">
    <button type="button" class="btn btn-primary" style="padding: 7px">
        <i class="fa fa-save"></i>
        So sánh
    </button>
    <button type="button" class="btn btn-default" style="padding: 7px" data-dismiss="modal">
        <i class="fa fa-times"></i>
        Đóng
    </button>
</div>
<script type="text/javascript">
    // run pagefunction on load
    //alert('shit');
    loadScript("/js/plugin/diff-match-patch/diff_match_patch.js",
        function () {
            loadScript("/js/plugin/diff-match-patch/diff_match_patch_extended.js",
                function () {
                    loadScript("/js/plugin/diff-match-patch/picadiff.js",
                        pagefunction);
                });
        });
</script>
