@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal-header alert alert-block alert-info">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
    </button>
    <h6 class="modal-title alert-heading"><i class="fa fa-pencil"></i> Xem nội dung bài viết</h6>
</div>
<div class="modal-body no-padding">

    <fieldset style="padding-top:0px;">
        <div class="row">
            <section class="col col-lg-12">
                <p class="text-align-left padding-10"> @ViewData["Content"].ToString()</p>
            </section>
        </div>
    </fieldset>

</div>
<div class="modal-footer" style="padding: 20px;">    
    <button type="button" class="btn btn-default" data-dismiss="modal">
        <i class="fa fa-times"></i>
        Đóng
    </button>
</div>


